/*@import "bootstrap/dist/css/bootstrap.css";*/
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-container {
  margin: 1rem;
  margin-top:  0px;
  height: 90vh;
}

#menu {
  background: #fff;
  /* position: absolute; */
  /* z-index: 1; */
  top: 15px; 
  left: 60px; 
  border-radius: 3px;
  /* width: 120px; */
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
}

#menu a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

.legend {
  top: 15px; 
  left: 60px; 
  border-radius: 3px;
  display: block;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#menu a.active {
  background-color: #3887be;
  color: #ffffff;
}

#menu a.active:hover {
  background: #3074a4;
}

.top-left {
  position: relative;
  top: 10px;
  left: 10px;
}

.over-map {
  z-index: 1;
  position: absolute;
  cursor: pointer;
}

.hide {
  display: none;
}

.bottom-center {
  left: 10px;
  bottom:10px;
}